@charset "UTF-8";
/* CSS Document */
 * {
	 margin: 0;
	 padding: 0;	 
	 font-size: 1em;
	 font-family: Verdana,'Apple SD Gothic Neo','애플 SD 고딕 Neo','Malgun Gothic','맑은 고딕','NanumBarunGothic','나눔바른고딕','NanumGothic','나눔고딕',sans-serif;
 }

body {
	width: 70%;
	margin: 0 auto;
	font-size: 0.8em;
	color: #444;
	background: #fcfcfc;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}




#prepare h1 {
	padding-top: 7em;
	padding-left: 5.5em;
	font-size: 1.5em;
	text-align: right;
	color: #cf7cff;
	letter-spacing: 0.4em;
	background: url('purplecat05.png') no-repeat 0.5em bottom;
	background-size: 5em 5em;
	border-bottom: 2px solid #cf7cff ;
}

#prepare h2 {
	font-size: 2.5em;
	padding-left: 0.4em;
	padding-top: 0.2em;	
}

#prepare p {
	padding:1em;
	line-height: 1.7em;	
}

footer {	
	font-size: 0.9em;	
	border-top: 1px solid #eee;
}

footer p {
	padding: 1em;
	color: #999;
}
